$borderColor: #b5c6f4;
$font: "Rammetto One", cursive;
$goldColor: #f1d4a4;
$blackColor: #0a0a0a;

@mixin flex($justify) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: center;
}

@mixin boxShadow($hor, $ver, $blur, $spread) {
  -webkit-box-shadow: $hor $ver $blur $spread rgba(0, 0, 0, 0.75);
  -moz-box-shadow: $hor $ver $blur $spread rgba(0, 0, 0, 0.75);
  box-shadow: $hor $ver $blur $spread rgba(0, 0, 0, 0.75);
}

@mixin insetShadow($hor, $ver, $blur, $spread) {
  -webkit-box-shadow: inset $hor $ver $blur $spread rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset $hor $ver $blur $spread rgba(0, 0, 0, 0.75);
  box-shadow: inset $hor $ver $blur $spread rgba(0, 0, 0, 0.75);
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin transition($time) {
  -webkit-transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
  transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
}

body {
  background-color: #3f3f3f;
  position: relative;
  font-family: $font;
}

.container-fluid {
  @include size(100%, 1000px);
  position: relative;
  margin: 0 auto;
}

.gameTitle {
  text-align: center;
  height: 119px;
  font-size: 100px;
  padding-bottom: -20px;
  color: $goldColor;
  text-shadow: 8px 0px #000000;
}

.gameBoard {
  @include flex(space-around);
  @include size(150px, 800px);
  position: relative;
  border-radius: 2px;
  margin: 0 auto;
  background: rgba(227, 218, 209, 1);
  background: -moz-linear-gradient(
    top,
    rgba(227, 218, 209, 1) 0%,
    rgba(230, 222, 214, 1) 0%,
    rgba(178, 168, 158, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(227, 218, 209, 1)),
    color-stop(0%, rgba(230, 222, 214, 1)),
    color-stop(100%, rgba(178, 168, 158, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(227, 218, 209, 1) 0%,
    rgba(230, 222, 214, 1) 0%,
    rgba(178, 168, 158, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(227, 218, 209, 1) 0%,
    rgba(230, 222, 214, 1) 0%,
    rgba(178, 168, 158, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(227, 218, 209, 1) 0%,
    rgba(230, 222, 214, 1) 0%,
    rgba(178, 168, 158, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(227, 218, 209, 1) 0%,
    rgba(230, 222, 214, 1) 0%,
    rgba(178, 168, 158, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#e3dad1",
      endColorstr="#b2a89e",
      GradientType=0
    );
}

.screen {
  @include flex(center);
  @include boxShadow(5px, 5px, 5px, 0px);
  @include size(120px, 110px);
  font-size: 100px;
  color: #39e68c;
  border-radius: 2px;
  background-color: #0f2a3d;
  border: 4px solid $borderColor;
  text-shadow: 0 0 5px rgba(66, 227, 151, 0.5), 0 0 5px rgba(66, 227, 151, 0.5),
    0 0 10px rgba(66, 227, 151, 1), 0 0 5px #00ff00, 0 0 5px #00ff00,
    0 0 2px #00ff00, 0 0 2px #00ff00;
}

.numScreen {
  @include flex(center);
  @include size(100%, 100%);
}

.blank {
  cursor: pointer;
}

.base {
  @include size(130px, 400px);
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  position: relative;
  display: flex;
  justify-content: center;
  background: rgba(178, 168, 158, 1);
  background: -moz-linear-gradient(
    top,
    rgba(178, 168, 158, 1) 0%,
    rgba(230, 222, 214, 1) 73%,
    rgba(227, 218, 209, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(178, 168, 158, 1)),
    color-stop(73%, rgba(230, 222, 214, 1)),
    color-stop(100%, rgba(227, 218, 209, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(178, 168, 158, 1) 0%,
    rgba(230, 222, 214, 1) 73%,
    rgba(227, 218, 209, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(178, 168, 158, 1) 0%,
    rgba(230, 222, 214, 1) 73%,
    rgba(227, 218, 209, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(178, 168, 158, 1) 0%,
    rgba(230, 222, 214, 1) 73%,
    rgba(227, 218, 209, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(178, 168, 158, 1) 0%,
    rgba(230, 222, 214, 1) 73%,
    rgba(227, 218, 209, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#b2a89e",
      endColorstr="#e3dad1",
      GradientType=0
    );
  -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(
          255,
          255,
          255,
          0.3
        )
        0%, transparent 50%, transparent 100%);
}

.base:before {
  @include size(110px, 55px);
  border-radius: 0 0 100px 0;
  border: none;
  background-color: #3f3f3f;
  display: inline-block;
  vertical-align: middle;
  content: "";
  position: absolute;
  left: -5px;
}

.base:after {
  @include size(110px, 55px);
  border-radius: 0 0 0 100px;
  border: none;
  background-color: #3f3f3f;
  display: inline-block;
  vertical-align: middle;
  content: "";
  position: absolute;
  right: -5px;
}

.bottom {
  @include size(20px, 400px);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 5px 5px;
  background: rgba(70, 166, 137, 1);
  background: -moz-linear-gradient(
    top,
    rgba(70, 166, 137, 1) 0%,
    rgba(37, 110, 90, 1) 99%,
    rgba(37, 110, 90, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(70, 166, 137, 1)),
    color-stop(99%, rgba(37, 110, 90, 1)),
    color-stop(100%, rgba(37, 110, 90, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(70, 166, 137, 1) 0%,
    rgba(37, 110, 90, 1) 99%,
    rgba(37, 110, 90, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(70, 166, 137, 1) 0%,
    rgba(37, 110, 90, 1) 99%,
    rgba(37, 110, 90, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(70, 166, 137, 1) 0%,
    rgba(37, 110, 90, 1) 99%,
    rgba(37, 110, 90, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(70, 166, 137, 1) 0%,
    rgba(37, 110, 90, 1) 99%,
    rgba(37, 110, 90, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#46a689",
      endColorstr="#256e5a",
      GradientType=0
    );
}

.strike {
  @include flex(center);
  @include boxShadow(2px, 2px, 2px, 0px);
  @include size(50px, 50px);
  background-color: #742001;
  margin: 5px;
  color: #ff2321;
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
  border: 4px solid $borderColor;
  border-radius: 2px;
  text-shadow: 0 0 2px rgba(255, 35, 33, 0.5), 0 0 2px rgba(255, 35, 33, 0.5),
    0 0 5px rgba(255, 35, 33, 1), 0 0 5px #ff0000, 0 0 2px #ff0000,
    0 0 2px #ff0000, 0 0 2px #ff0000;
}

.slot {
  @include size(5px, 55px);
  background-color: $blackColor;
  border-radius: 1px;
  position: absolute;
  top: 75px;
}

.bag {
  position: relative;
  overflow: visible;
}

.token {
  @include flex(center);
  @include insetShadow(0px, -3px, 3px, 0px);
  @include size(45px, 45px);
  @include transition(500ms);
  position: absolute;
  bottom: 10px;
  left: 43%;
  border-radius: 50px;
  color: $blackColor;
  z-index: 2;
  font-size: 35px;
  font-family: "Sedgwick Ave Display", cursive;
}

.numToken {
  background-color: #feffc6;
}

.strikeToken {
  background-color: #be0403;
  text-shadow: #f8f8f8 0px 0px 3px;
}

.rotate {
  top: -147px;
  -webkit-transform: rotateX(70deg);
  -moz-transform: rotateX(70deg);
  -o-transform: rotateX(70deg);
  transform: rotateX(70deg);
}

.raiseToken {
  bottom: 130px;
}

.button {
  @include insetShadow(0px, -3px, 3px, 0px);
  font-family: $font;
  background-color: #b2a89e;
  border-radius: 5px 5px 20px 20px;
  border: none;
  outline: none;
  font-size: 1.2em;
  margin: 0 100px;
  padding: 20px 15px;
  color: $blackColor;
  z-index: 3;
  position: relative;
  cursor: pointer;
}

.button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}

p {
  margin: 0;
}

.text {
  @include size(200px, 350px);
  background-color: #f4f4f4;
  border-radius: 5px;
  border: 3px solid $blackColor;
  font-size: 20px;
  color: $blackColor;
  z-index: 2;
  overflow: auto;
}

.car {
  @include size(200px, 350px);
  position: relative;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 3px solid $blackColor;
  overflow: hidden;
}

.bottomDiv {
  @include flex(center);
  margin: 30px 15px;
  z-index: 3;
}

.curtain {
  @include flex(center);
  @include size(100%, 100%);
  @include transition(1000ms);
  position: relative;
  top: 0;
  font-size: 50px;
  color: $goldColor;
  background: rgba(247, 81, 59, 1);
  background: -moz-linear-gradient(
    left,
    rgba(247, 81, 59, 1) 0%,
    rgba(209, 27, 2, 1) 16%,
    rgba(219, 64, 46, 1) 32%,
    rgba(166, 19, 0, 1) 55%,
    rgba(201, 49, 28, 1) 67%,
    rgba(168, 17, 0, 1) 80%,
    rgba(247, 81, 59, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(247, 81, 59, 1)),
    color-stop(16%, rgba(209, 27, 2, 1)),
    color-stop(32%, rgba(219, 64, 46, 1)),
    color-stop(55%, rgba(166, 19, 0, 1)),
    color-stop(67%, rgba(201, 49, 28, 1)),
    color-stop(80%, rgba(168, 17, 0, 1)),
    color-stop(100%, rgba(247, 81, 59, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(247, 81, 59, 1) 0%,
    rgba(209, 27, 2, 1) 16%,
    rgba(219, 64, 46, 1) 32%,
    rgba(166, 19, 0, 1) 55%,
    rgba(201, 49, 28, 1) 67%,
    rgba(168, 17, 0, 1) 80%,
    rgba(247, 81, 59, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(247, 81, 59, 1) 0%,
    rgba(209, 27, 2, 1) 16%,
    rgba(219, 64, 46, 1) 32%,
    rgba(166, 19, 0, 1) 55%,
    rgba(201, 49, 28, 1) 67%,
    rgba(168, 17, 0, 1) 80%,
    rgba(247, 81, 59, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(247, 81, 59, 1) 0%,
    rgba(209, 27, 2, 1) 16%,
    rgba(219, 64, 46, 1) 32%,
    rgba(166, 19, 0, 1) 55%,
    rgba(201, 49, 28, 1) 67%,
    rgba(168, 17, 0, 1) 80%,
    rgba(247, 81, 59, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(247, 81, 59, 1) 0%,
    rgba(209, 27, 2, 1) 16%,
    rgba(219, 64, 46, 1) 32%,
    rgba(166, 19, 0, 1) 55%,
    rgba(201, 49, 28, 1) 67%,
    rgba(168, 17, 0, 1) 80%,
    rgba(247, 81, 59, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f7513b",
      endColorstr="#f7513b",
      GradientType=1
    );
}

.raiseCurtain {
  top: -250px;
}

.quoteButton {
  background: #f4f4f4;
  font-family: $font;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  margin: 0 5px;
  color: #0a0a0a;
  cursor: pointer;
}

.hide {
  display: none;
}

.blinking {
  animation: blink 0.5s linear infinite;
  -webkit-animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#author {
  text-align: center;
  color: #adadad;
  font-family: Raleway;
  font-size: 14px;
}

@media screen and (max-width: 1030px) {
  .container-fluid {
    top: -90px;
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

